<section class="wrapper style1">
    <div class="container">
        {{- if .item.title }}
        <header class="major">
            <h2>{{ .item.title }}</h2>
            {{- if .item.subtitle }}
            <p>{{ .item.subtitle }}</p>
            {{- end }}
        </header>
        {{- end }}
        <div class="row gtr-50">
            {{- $item_cols := (div 12 (.item.items_per_row | default 3)) }}
            {{- range .item.items }}
                <section class="col-{{ $item_cols }} col-12-narrower">
                    <div class="box highlight">
                        {{- if .url }}
                        <a href="{{ .url }}" class="service-box">
                            <i class="icon solid major square {{ .icon }}"></i>
                            <h3>{{ .title }}</h3>
                            {{- if .description }}
                            <span class="service-description">{{ .description }}</span>
                            {{- end }}
                            <p>{{ .content | markdownify }}</p>
                        </a>
                        {{- else }}
                        <div class="service-box">
                            <i class="icon solid major square {{ .icon }}"></i>
                            <h3>{{ .title }}</h3>
                            {{- if .description }}
                            <span class="service-description">{{ .description }}</span>
                            {{- end }}
                            <p>{{ .content | markdownify }}</p>
                        </div>
                        {{- end }}
                    </div>
                </section>
            {{- end }}
        </div>
    </div>
</section>
